<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<h1 align="center">Search By Name</h1>
		<hr>

	<form action="/searchByName" method="post">

		Name : <input type="text" name="name"> <br /> 
		<br /> 
		<br /> 
		<input
			type="submit" value="Search">
	</form>


	<table style="width:100%">
		<thead align="center">
			<tr>
				<th>Course ID</th>
				<th>Name</th>
				<th>Duration (Months)</th>
				<th>Fees</th>
				<th>Inception Date</th>
				<th>Course Status</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="course: ${session.searchByNameList}">
				<td th:text="${course.id}" />
				<td th:text="${course.name}" />
				<td th:text="${course.duration}" />
				<td th:text="${course.fees}" />
				<td th:text="${course.courseInceptionDate}" />
				<td th:text="${course.courseState}" />
			</tr>
		</tbody>
	</table>
	
	
</body>
</html>