<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Welcome to Course Management</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br />
	<br />
	

	<form action="/searchByName" method="post">

		Name : <input type="text" name="name"> <br /> <br /> <br />
		<input type="submit" value="Search">
	</form>


	<table style="width: 100%">
		<thead align="center">
			<tr>
				<th>Course ID</th>
				<th>Name</th>
				<th>Duration (Months)</th>
				<th>Fees</th>
				<th>Inception Date</th>
				<th>Course Status</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="course: ${session.searchByNameList}">
				<td th:text="${course.id}" />
				<td th:text="${course.name}" />
				<td th:text="${course.duration}" />
				<td th:text="${course.fees}" />
				<td th:text="${course.courseInceptionDate}" />
				<td th:text="${course.courseState}" />
			</tr>
		</tbody>
	</table>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>