<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

</head>
<body>



	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Welcome to Course Management</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/addCourse">Add
							Course</a></li>
					<li class="nav-item"><a class="nav-link" href="/searchCourses">Search
							Course</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br />
	<br />
	<form action="#" th:action="@{/addCourse}" th:object="${course}"
		method="post">
		<table style="width: 100%">
			<tr style="display: none;">
				<td>Name:</td>
				<td><input type="number" th:field="*{id}" /></td>
				<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
					style="color: red;">ID Error</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					style="color: red;">Name Error</td>
			</tr>
			<tr>
				<td>Duration:</td>
				<td><input type="number" th:field="*{duration}" /></td>
				<td th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"
					style="color: red;">Age Error</td>
			</tr>
			<tr>
				<td>Fees:</td>
				<td><input type="number" th:field="*{fees}" /></td>
				<td th:if="${#fields.hasErrors('fees')}" th:errors="*{fees}"
					style="color: red;">Age Error</td>
			</tr>

			<tr>
				<td>Course State:</td>


				<td>

					<div
						th:each="model : ${T(com.cousemanageent.entity.CourseStatus).values()}">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" th:field="*{courseState}" th:value="${model}"
								class="custom-control-input"> <label
								class="custom-control-label"
								th:for="${#ids.prev('courseState')}" th:text="${model}">model</label>
						</div>
					</div>
				<td th:if="
							${#fields.hasErrors('courseState')}"
					th:errors="*{courseState}" style="color: red;">courseState
					Error</td>
			</tr>


			<tr>
				<td>Course Inception Date (dd/MM/yyyy):</td>
				<td><input type="text" th:field="*{courseInceptionDate}" /></td>
				<td th:if="${#fields.hasErrors('courseInceptionDate')}"
					th:errors="*{courseInceptionDate}" style="color: red;">Date
					Error</td>
			</tr>

			<tr>
				<td align="center"><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>