<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${message}" align="center">Welcome</h1>

	<hr>

	<ul>
		<li><a href="/addCourse"> Add Course to Academy</a></li>
	</ul>

	<hr>

	<h3 align="center">Course List</h3>



	<table style="width:100%">
		<thead align="center">
			<tr>
				<th>Course ID</th>
				<th>Name</th>
				<th>Duration (Months)</th>
				<th>Fees</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="course: ${session.courseList}">
				<td> <a th:href="@{/updateCourse/{id}(id = ${course.id})}" th:text="${course.id}"> Delete </a>  </td> 
				<td th:text="${course.name}" />
				<td th:text="${course.duration}" />
				<td th:text="${course.fees}" />
				<td> <a th:href="@{/deleteCourse/{id}(id = ${course.id})}"> Delete </a>  </td> 
			</tr>
		</tbody>
	</table>


</body>
</html>